@font-face {
    font-family: 'Bebas Neue';
    src: local('Bebas Neue Regular'), local('BebasNeueRegular'),
    url('../fonts/BebasNeueRegular.woff2') format('woff2'),
    url('../fonts/BebasNeueRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

.header{
    background-color: #635854;
    border-bottom: 4px solid #3596F5;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    margin: 0 auto;
    color: #fff;
    padding: 12px 0;
}

.navbar__list{
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

.navbar__item{
    margin: 0 40px;
    text-align: center;

}

.navbar__link{
    color: inherit;
    text-decoration: none;
}

.navbar__phone{
    text-align: right;
}

.navbar__text{
    display: block;
    color: inherit;
    margin-bottom: 4px;
}

.navbar__number{
    text-decoration: none;
    color: inherit;
}

.main{
    display: flex;
    max-width: 1280px;
    margin: 0 auto;
    padding: 48px 0 95px;
}

.home-image path {
    opacity: 0;
    cursor: pointer;
}

.home-image path:hover{
    opacity: 1;
}

.main-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    text-align: center;
}

.main-title, .counter{
    font-family: 'Bebas Neue', 'Bebas Neue Regular', sans-serif;
    color: #635854;
}

.main-title{
    margin: 0;
    font-weight: normal;
    font-size: 37px;
    line-height: 37px;
    text-transform: uppercase;
    margin-top: 74px;
}

.main-counter{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-count, .button-primary{
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.button-down{
    transform: rotateX(180deg);
}

.counter{
    font-size: 134px;
}

.button-primary{
    background-color: #3596F5;
    padding: 16px 36px;
    color: #fff;
    border-radius: 6px;
    margin-bottom: 61px;
}
